.contener-fluid {
  background-color: blue;
  border: 2px solid;
}
.contener {
  background-color: blue;
  border: 2px solid;
  min-height: 200px;
}
.row {
  border: 3px solid yellow;
}

.box-1 {
  min-height: 150px;
  background-color: red;
}
.box-2 {
  min-height: 150px;

  background-color: pink;
}
.box-3 {
  min-height: 150px;
  background-color: green;
}
.box-4 {
  min-height: 150px;
  background-color: peru;
}
.box-5 {
  min-height: 150px;
  background-color: purple;
}
